body {
    font: 10px sans-serif;
    background-image:url(../image/3.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
}
p {
    font: 12px helvetica;
}
#header{
    height: 70px;
}
.hfont{
    padding-left: 20%;
    font-weight: 600;
    font-family: Courier New;
    font-size: 40px;
    color: rgba(242, 113, 113, 0.82);
    margin: 10px 0;
}
#footer {
  text-align: center;
  margin: 40px;
  letter-spacing: .2em;
}
#footer p {
  color: #82d1f3;
  text-decoration: none;
  font-size: 19px ;
  font-family: Courier New ;
  font-weight:600;
}

#change1{
    margin:0 10%;
}
#change2{
    margin:0 10%;
}
#change3{
    margin:0 10%;
}
#sequence {
  width: 600px;
  height: 70px;
  padding-left:36%;
  font-family: Microsoft Yahei;
  font-size: 15px;
  font-weight: 600;
   margin-top:30px
}
#tree {
  position: relative;
  /*margin-bottom:30px;
  margin-top:50px;*/
}

.axis path,
.axis line {
    fill: none;
    stroke: white;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}
.axis text{
    font-size:15px;
    font-weight:600;
    font-family: Microsoft Yahei;
    fill:white;
}


.curve {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}
.shadow {
    opacity: 0.1;
}
.bar {
    fill: orange;
}
.solidArc:hover {
    fill: orangered;
}
.solidArc {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.aster-score {
    font-weight: bold;
    font-size: 300%;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -5px 0 0 0;
    top: 100%;
    left: 0;
}
