html,body {
    font: 10px sans-serif;
    background-image:url(img/back2.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin:0;
    overflow: auto;
}
p {
    /*font: 12pxhelvetica;*/
    font-family: Courier New;
    font-size: 20px;
}
#loading{
  background-color:#111;
  position:fixed;
  line-height:11px;
  height:100%;
  width:100%;
  z-index: 7;
  opacity: .8;
}
#loading_text {
  display:block;
  font-size:3em;
  font-family:Consolas;
  color:#918d8d;
  position:relative;
  margin-top:25%;
}
#header{
    height: 100px;
}
.hfont{
    padding-left: 20%;
    font-weight: 500;
    font-family: Courier New;
    font-size: 45px;
    color: rgba(242, 113, 113, 0.82);
    margin: 20px 0;
}
#footer {
  text-align: center;
  margin: 60px 0px;
  letter-spacing: .2em;
}
#footer p {
  color: #82d1f3;
  text-decoration: none;
  font-size: 19px ;
  font-family: Courier New ;
  font-weight:600;
}

#tree {
  position: relative;
}

#change1{
    margin:0 5%;
}
#change2{
    margin:0 5%;
}
#change3{
    margin:0 5%;
}
#Trans_NO2
{
     position:absolute;
     z-index:1;
     top: 71.1%;
}
#Trans_SO2
{
     position:absolute;
     z-index:2;
     top: 71.1%;
}
#Trans_PM10
{
     position:absolute;
     z-index:3;
     top: 71.1%;
}

.axis path,
.axis line {
    fill: none;
    stroke: white;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}
.axis text{
    font-size:15px;
    font-weight:600;
    fill:white;
}

.curve {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}
.shadow {
    opacity: 0.1;
}
.bar {
    fill: orange;
}
.solidArc:hover {
    fill: orangered;
}
.solidArc {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -5px 0 0 0;
    top: 100%;
    left: 0;
}
